@model IEnumerable<ProductieSysteemV1._0.Models.ApplicationUser>
@{
    ViewBag.Title = "Telers";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Telers</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Bedrijfsnaam</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.userInfo.FirstName</td>
                <td>@item.userInfo.LastName</td>
                <td>@item.userInfo.CompanyName</td>
                <td>@Html.ActionLink("Weekproductie", "week", "overview", new { userid = item.Id},null)</td>
            </tr>
           
        }
    </tbody>
</table>
