@model IEnumerable<ProductieSysteemV1._0.Models.G_Rule>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h4>Selecteer een week</h4>
<p>Dit zijn de weken die momenteel voorkomen in het systeem. Klik op een week om het overzicht weer te kunnen geven.</p>

@foreach (var key in Model)
{
        <p>@Html.ActionLink(key.weekId.ToString(), "searchresult", "Overview", new { week = key.weekId, userid = key.UserId }, null)</p>
}
