@model ProductieSysteemBuild2.Models.Producten

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Producten</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productNr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
