
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Contact</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <h4>Ontwikkelaars</h4>
            <p>Daan Kleindop </p>
            <p>Glenn Ooms </p>
            <p>Radius College Breda</p>
            <p>Terheijdenseweg 350 </p>
            <p>4826 AA breda</p>
            <p>076 573 34 44</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h4>Mechelse Veiling Belorta</h4>
            <p>Meschelsesteenweg 120</p>
            <p>2860 St-Katelijne-Waver, België</p>
            <p>+32 15 55 11 11</p>
            <p>info@belorta.be</p>
        </div>

    </div>
</div>

