@model ProductieSysteemBuild2.Models.Weekproductie

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Productie Opgeven</h2>
<table class="table">
    <thead>
        <tr>
            <th>Week</th>
            <th>Product</th>
            <th>Aantal</th>
            <th>  </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.Date</td>
                <td>@Html.DropDownList("Dagdelen")</td>
            <td><input type="number" value="aantal"</td>
            <td><input type="submit" value="opslaan" /></td>
        </tr>
    </tbody>
</table>

@*<form action="~/Views/Productie/ProductieBijstellen"
</form>*@