@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Productie Bijstellen</h2>

<div class="alert alert-success" id="succes" style="display: none;" role="alert">uw gegevens worden opgehaald</div>
<div class="alert alert-danger" id="alert" style="display: none;" role="alert"><p></p></div>

<div class="row">
    <div class=""
</div>
